In [1]:
#creating a database with an advanced method
#we'll create a database comprising of a list of usernames, their passwords and the time when they created it

In [2]:
import pandas as pd
import numpy as np
from string import ascii_letters, digits
import datetime

In [3]:
#we'll create the columns
usernames = ['lola69', 'salama_mystique', 'nas-daily']

passwords = [''.join(np.random.choice(list(ascii_letters + digits),8)) for x in range(3)]

creation_dates = [datetime.datetime.now().date() - datetime.timedelta(int(x)) for x in np.random.randint(0,1500,3)]

In [4]:
df = pd.DataFrame({'username': usernames, 'password': passwords, 'creation date': pd.to_datetime(creation_dates)})

In [5]:
df.head()

          username  password creation date
0           lola69  t3uIlixl    2018-12-18
1  salama_mystique  vzn2jFQ8    2018-04-17
2        nas-daily  bax1Tlwi    2018-04-10